name: Main Workflow
on: [push]
jobs:
  greet-and-add:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          repository: ${{ github.repository }}
      - name: Greet User
        uses: WasimAhmad/reusable-actions-repo/greet-action.yml@main
        with:
          message: 'Welcome to GitHub Actions!'
      - name: Add Numbers
        uses: WasimAhmad/reusable-actions-repo/add-action.yml@main
        with:
          number1: '5'
          number2: '7'
